@using Application.DTOs
@model IEnumerable<SellingOrderDto>

<!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-bold">Quản lý hóa đơn</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
              <li class="breadcrumb-item active">Quản lý hóa đơn</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <div class="block-buttons-right float-sm-right text-center">
                    <a asp-action="Add" asp-controller="SellingOrder" class="btn btn-success">
                      <i class="fas fa-plus mr-1"></i>
                      Thêm hóa đơn
                    </a>
                  </div>
                  <thead>
                  <tr>
                    <th>Khách hàng</th>
                    <th>Nhân viên</th>
                    <th>Tổng giá trị đơn hàng</th>
                    <th>Trạng thái</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                          <td>@Html.DisplayFor(modelItem => item.Customer.Fullname)</td>
                          <td>@Html.DisplayFor(modelItem => item.Employee.Fullname)</td>
                          <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                          @if(item.Status == 0)
                          {
                            <td>Phiếu tạm</td>
                          }  
                          else if(item.Status == 1)
                          {
                            <td>Đã thanh toán</td>
                          }
                          else
                          {
                            <td>Đã hủy</td>
                          }
                          <td>
                            <div class="d-flex flex-nowrap">
                              <a asp-action="Edit" asp-controller="SellingOrder" asp-route-id="@item.Id" class="btn btn-info">
                                <i class="fas fa-edit"></i>
                              </a>
                              @* <button onclick="showInPopup('@Url.Action("AddOrEdit","ImportingOrder", new {id = item.Id},Context.Request.Scheme)',' Cập nhật thông tin phiếu nhập')" class="btn btn-secondary mr-1">
                                <i class="fas fa-edit"></i>           
                              </button> 
                              
                              <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)">
                                <button type="submit" class="btn btn-danger">
                                  <i class="fas fa-trash"></i>
                                </button> 
                              </form>*@
                            </div>
                          </td>
                        </tr>
                    }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
@section Scripts{
}
<!-- jQuery 
<script src="~/plugins/jquery/jquery.min.js"></script> -->
<!-- page script -->
<script>
  $(function () {
    $(document).ready(function(){
      $(".table").DataTable({
        "responsive": true,
        "searching": false,
        "ordering": false,
        "autoWidth": false,
        "language": {
          lengthMenu: "Hiển thị _MENU_ dòng",
          info: "Hiển thị trang _PAGE_ trong tổng _PAGES_ trang",
          zeroRecords: "Dữ liệu không tồn tại",
          previous: "Trước",
          paginate: {
          "next": "Sau",
          "previous": "Trước"
          },
        }
      });
    });
  })
</script>